html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-light;
  font-family: 'Mulish', serif;
  font-weight: 500;
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 10vw;
}
* {
  &::-webkit-scrollbar-button {
    display: none;
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $text-on-dark;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    margin: 20px 0;
    background-color: $text-muted-dark;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
}
