:root {
  --vh: 1vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  min-height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:active,
a:visited {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent;
}

img,
picture,
video,
canvas,
svg {
  user-select: none; 

  display: block;

  max-width: 100%;
  height: auto; 

  -webkit-user-drag: none; 
}

iframe {
  display: block; 
  max-width: 100%;
  border: none;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;

  font: inherit;
  color: inherit;

  -webkit-appearance: none; 
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  background: transparent;
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

::selection {
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

#root {
  isolation: isolate;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  height: calc(var(--vh) * 100);
}

dialog {
  padding: 0;
  background: transparent;
  border: none;
}

details summary {
  cursor: pointer;
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
