.page {
  display: flex;
  flex-direction: column;
  position: relative;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
  &__report-button {
    padding: 6px;
    border-radius: 4px;
    border: 2px solid $bg-dark;
    & > img {
      transform: scale(1.2);
    }
  }
  &__add-button {
    &-icon {
      width: 30px;
      height: 30px;
      transition: all 0.3s ease-in-out;
      &:active {
        transform: scale(0.97);
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
  }
}
