.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
  flex-grow: 1;
  &__image {
    height: 200px;
  }
  &__title {
    font-size: 20px;
  }
}
