.library {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 400px;
  &__image{
    height: 100px;
    width: 100px;
  }
  &__name {
    font-size: 24px;
  }
  &__address {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__librarian {
    font-size: 22px;
  }
}
