.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  &__logo{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    &>img{
      width: 40px;
    }
  }
  &__nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
