.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__more {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
    width: min-content;
    text-wrap: nowrap;
    color: $text-primary;
    margin: 0 auto;

    &:hover {
      background: #f0f0f0;
      border-color: #ccc;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
